.who {
  display: flex;
  height: max-content;
  justify-content: center;
  background: var(--black);
  padding-top: var(--padding-l);
  padding-bottom: var(--padding-l);
}

.who__content {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: var(--content-width);
}

.who__content h2 {
  font-weight: 500;
  font-size: 5.6rem;
  line-height: 4.4rem;
  margin-bottom: 6rem;
  color: var(--white);
  font-weight: var(--light-300);
}

.cards__container {
  gap: 4.9rem;
  display: flex;
}

.cards__container hr {
  height: 8.8rem;
  border: none;
  width: 0.1rem;
  margin: 38em 0;
  background-color: var(--orange-dark);
}

.who__card {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.who__card h3 {
  font-weight: 500;
  font-size: 2.4rem;
  text-align: center;
  color: var(--white);
  padding-bottom: 1.6rem;
}

.who__card p {
  font-size: 1.8rem;
  text-align: center;
  color: var(--white);
  font-weight: var(--light-300);
}

/* SMARTPHONES - SHORTER SCREENS (PORTRAIT) */
@media only screen and (max-width: 480px) and (orientation: portrait) {
  .who {
    padding-top: var(--padding-m);
    padding-bottom: var(--padding-m);
  }

  .who__content {
    padding-left: var(--padding-s);
    padding-right: var(--padding-s);
  }

  .who__content h2 {
    font-size: 3rem;
    line-height: 2.5rem;
    margin-bottom: 5rem;
    text-align: center;
  }

  .cards__container {
    /* gap: 4.9rem; */
    /* display: flex; */
    flex-direction: column;
    align-items: center;
  }

  .cards__container hr {
    height: 0.1rem;
    /* border: none; */
    width: 14rem;
   
    margin: 0;
    /* background-color: var(--orange-dark); */
  }
}

/* SMARTPHONES - SHORTER SCREENS (LANDSCAPE) */
@media only screen and (min-width: 665px) and (orientation: landscape) {
}

/* SMARTPHONES - TALLER SCREENS (PORTRAIT) */
@media only screen and (min-width: 390px) and (orientation: portrait) {
  /* not needed */
}

/* SMARTPHONES - TALLER SCREENS (LANDSCAPE) */
@media only screen and (min-width: 843px) and (orientation: landscape) {
  /* not needed */
}

/* IPAD MINI (PORTRAIT) */
@media only screen and (min-width: 767px) and (orientation: portrait) {
}

/* IPAD MINI (LANDSCAPE) */
@media only screen and (min-width: 1023px) and (orientation: landscape) {
}

/* IPAD AIR (PORTRAIT) */
@media only screen and (min-width: 769px) and (orientation: portrait) {
}

/* IPAD AIR (LANDSCAPE) */
@media only screen and (min-width: 1179px) and (orientation: landscape) {
}

/* IPAD PRO (PORTRAIT) */
@media only screen and (min-width: 1023px) and (orientation: portrait) {
  /* not needed */
}

/* IPAD PRO and MACBOOK PRO 14" (LANDSCAPE) */
@media only screen and (min-width: 1365px) and (orientation: landscape) {
  /* not needed */
}

/* MONITORS (LANDSCAPE) */
@media only screen and (min-width: 1520px) and (orientation: landscape) {
  /* not needed */
}
