.who {
  display: flex;
  height: max-content;
  justify-content: center;
  background: var(--black);
}

.who__content {
  align-items: center;
  flex-direction: column;
}

.who__content h2 {
  color: var(--white);
  font-weight: var(--light-300);
}

.cards__container {
  gap: 4.9rem;
  display: flex;
}

.cards__container hr {
  border: none;
  background-color: var(--orange-dark);
}

.who__card {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.who__card h3 {
  text-align: center;
  color: var(--white);
  font-weight: var(--medium-500);
}

.who__card p {
  text-align: center;
  color: var(--white);
  font-weight: var(--light-300);
}

/* SMARTPHONES - SHORTER SCREENS (PORTRAIT) */
@media only screen and (max-width: 480px) and (orientation: portrait) {
  .who {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  .who__content {
    padding-left: var(--padding-s);
    padding-right: var(--padding-s);
  }

  .who__content h2 {
    font-size: 3.4rem;
    text-align: center;
    line-height: 3.4rem;
    margin-bottom: 4rem;
  }

  .cards__container {
    align-items: center;
    flex-direction: column;
  }

  .cards__container hr {
    margin: 0;
    width: 14rem;
    height: 0.1rem;
  }

  .who__card h3 {
    font-size: 2.1rem;
    margin-bottom: 1rem;
  }

  .who__card p {
    width: 95%;
    font-size: 1.7rem;
  }
}

/* SMARTPHONES - SHORTER SCREENS (LANDSCAPE) */
@media only screen and (min-width: 665px) and (orientation: landscape) {
  .who {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  .who__content {
    padding-left: var(--padding-s);
    padding-right: var(--padding-s);
  }

  .who__content h2 {
    font-size: 3.4rem;
    text-align: center;
    line-height: 2.5rem;
    margin-bottom: 5rem;
  }

  .cards__container {
    align-items: center;
    flex-direction: column;
  }

  .cards__container hr {
    margin: 0;
    width: 14rem;
    height: 0.1rem;
  }

  .who__card h3 {
    font-size: 2.1rem;
    margin-bottom: 2rem;
  }

  .who__card p {
    width: 60%;
    font-size: 1.7rem;
  }
}

/* SMARTPHONES - TALLER SCREENS (PORTRAIT) */
@media only screen and (min-width: 390px) and (orientation: portrait) {
  /* not needed */
}

/* SMARTPHONES - TALLER SCREENS (LANDSCAPE) */
@media only screen and (min-width: 843px) and (orientation: landscape) {
  /* not needed */
}

/* IPAD MINI (PORTRAIT) */
@media only screen and (min-width: 767px) and (orientation: portrait) {
  .who {
    padding-top: var(--padding-l);
    padding-bottom: var(--padding-l);
  }

  .who__content {
    padding-left: var(--padding-m);
    padding-right: var(--padding-m);
  }

  .who__content h2 {
    font-size: 5rem;
    line-height: 5rem;
    text-align: center;
    margin-bottom: 5rem;
  }

  .who__card h3 {
    font-size: 2.2rem;
    margin-bottom: 1rem;
  }

  .cards__container {
    align-items: center;
    flex-direction: column;
  }

  .cards__container hr {
    margin: 0;
    width: 14rem;
    height: 0.1rem;
  }

  .who__card p {
    width: 60%;
    font-size: 1.7rem;
  }
}

/* IPAD MINI (LANDSCAPE) */
@media only screen and (min-width: 1023px) and (orientation: landscape) {
  .who {
    padding-top: var(--padding-l);
    padding-bottom: var(--padding-l);
  }

  .who__content {
    padding-left: var(--padding-m);
    padding-right: var(--padding-m);
  }

  .who__content h2 {
    font-size: 5rem;
    line-height: 4rem;
    text-align: center;
    margin-bottom: 5rem;
  }

  .who__card h3 {
    font-size: 2.1rem;
  }

  .cards__container {
    align-items: center;
  }

  .cards__container hr {
    margin: 0;
    width: 14rem;
    height: 0.1rem;
  }

  .who__card p {
    width: 60%;
    font-size: 1.6rem;
  }
}

/* IPAD AIR (PORTRAIT) */
@media only screen and (min-width: 769px) and (orientation: portrait) {
  /* not needed */
}

/* IPAD AIR (LANDSCAPE) */
@media only screen and (min-width: 1179px) and (orientation: landscape) {
  /* not needed */
}

/* IPAD PRO (PORTRAIT) */
@media only screen and (min-width: 1023px) and (orientation: portrait) {
  /* not needed */
}

/* IPAD PRO and MACBOOK PRO 14" (LANDSCAPE) */
@media only screen and (min-width: 1365px) and (orientation: landscape) {
  .who {
    padding-top: var(--padding-l);
    padding-bottom: var(--padding-l);
  }

  .who__content {
    padding-left: unset;
    padding-right: unset;
    width: var(--content-width);
  }

  .who__content h2 {
    font-size: 5.6rem;
    line-height: 4.4rem;
    margin-bottom: 6rem;
  }

  .cards__container {
    flex-direction: row;
  }

  .cards__container hr {
    width: 0.1rem;
    margin: 38em 0;
    height: 8.8rem;
  }

  .who__card {
    width: 100%;

  }

  .who__card h3 {
    font-size: 2.4rem;
    padding-bottom: 1.6rem;
  }

  .who__card p {
    width: 110%;
    font-size: 1.8rem;
  }
}

/* MONITORS (LANDSCAPE) */
@media only screen and (min-width: 1520px) and (orientation: landscape) {
  /* not needed */
}
