.hero {
  display: flex;
  height: 100dvh;
  align-items: center;
  justify-content: center;
  background: var(--black);
}

.hero__content {
  display: flex;
  align-items: center;
  flex-direction: column;
  align-items: flex-start;
  width: var(--content-width);
  justify-content: space-between;
}

.hero__content h1 {
  font-size: 9rem;
  line-height: 6rem;
  color: var(--white);
  margin-bottom: 2rem;
  font-weight: var(--regular-400);
}

.hero__link {
  width: 14rem;
  height: 40px;
  display: flex;
  cursor: pointer;
  margin-top: 2rem;
  font-size: 1.8rem;
  position: relative;
  text-align: center;
  align-items: center;
  color: var(--white);
  text-decoration: none;
  transition: all 0.35s;
  border-radius: 0.5rem;
  justify-content: center;
  font-weight: var(--light-300);
  border: 1px solid var(--orange-dark);
}

.hero__link::before,
.hero__link::after {
  top: 0;
  left: 0;
  z-index: 1;
  content: '';
  position: absolute;
  border-style: solid;
  border-radius: 0.5rem;
  transition: all 0.35s;
  border-color: var(--orange-dark);
}

.hero__link::before {
  width: 0;
  height: 100%;
  border-width: 1px 0 1px 0;
}

.hero__link::after {
  height: 0;
  width: 100%;
  border-width: 0 1px 0 1px;
}

.hero__link:hover {
  color: var(--orange-dark);
  border-color: var(--orange-dark);
}

.hero__link:hover::before {
  width: 100%;
  border-width: 1px 0 1px 0;
}

.hero__link:hover::after {
  height: 100%;
  border-width: 0 1px 0 1px;
}

/* SMARTPHONES - SHORTER SCREENS (PORTRAIT) */
@media only screen and (max-width: 480px) and (orientation: portrait) {
  .hero__content {
    width: min-content;
  }

  .hero__content h1 {
    font-size: 4rem;
    line-height: 3.2rem;
    margin-bottom: 1rem;
  }

  .hero__content img {
    height: 11rem;
  }

  .hero__link {
    width: 9rem;
    height: 30px;
    margin-top: 1rem;
    font-size: 1.2rem;
  }
}

/* SMARTPHONES - SHORTER SCREENS (LANDSCAPE) */
@media only screen and (min-width: 665px) and (orientation: landscape) {
  .hero {
    /* justify-content: flex-start; */
  }
  .hero__content {
    width: min-content;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .hero__content h1 {
    font-size: 4rem;
    line-height: 3.2rem;
    margin-bottom: 1rem;
  }

  .hero__content img {
    height: 11rem;
  }

  .hero__link {
    width: 9rem;
    height: 30px;
    margin-top: 1rem;
    font-size: 1.3rem;
  }
}

/* SMARTPHONES - TALLER SCREENS (PORTRAIT) */
@media only screen and (min-width: 390px) and (orientation: portrait) {
  /* not needed */
}

/* SMARTPHONES - TALLER SCREENS (LANDSCAPE) */
@media only screen and (min-width: 843px) and (orientation: landscape) {
  /* not needed */
}

/* IPAD MINI (PORTRAIT) */
@media only screen and (min-width: 767px) and (orientation: portrait) {
}

/* IPAD MINI (LANDSCAPE) */
@media only screen and (min-width: 1023px) and (orientation: landscape) {
}

/* IPAD AIR (PORTRAIT) */
@media only screen and (min-width: 769px) and (orientation: portrait) {
}

/* IPAD AIR (LANDSCAPE) */
@media only screen and (min-width: 1179px) and (orientation: landscape) {
}

/* IPAD PRO (PORTRAIT) */
@media only screen and (min-width: 1023px) and (orientation: portrait) {
  /* not needed */
}

/* IPAD PRO and MACBOOK PRO 14" (LANDSCAPE) */
@media only screen and (min-width: 1365px) and (orientation: landscape) {
  /* not needed */
}

/* MONITORS (LANDSCAPE) */
@media only screen and (min-width: 1520px) and (orientation: landscape) {
  /* not needed */
}
