.what {
  display: flex;
  height: max-content;
  justify-content: center;
  background: var(--white);
}

.what__content {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.what__content h2 {
  color: var(--black);
  font-weight: var(--light-300);
}

.content__left {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.left__text {
  width: 80%;
  margin: auto;
}

.left__text img {
  width: 3rem;
}

.left__text h3 {
  color: var(--black);

  font-weight: var(--bold-700);
}

.left__text p:first-of-type {
  width: fit-content;
  color: var(--black);
  font-weight: var(--medium-500);
  font-family: Arial, Helvetica, sans-serif;
}

.left__text p:last-of-type {
  color: var(--black);
  font-weight: var(--regular-400);
}

.left__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content__right {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.right__text {
  width: 80%;
  margin: auto;
}

.right__text img {
  width: 3rem;
}

.right__text h3 {
  width: fit-content;
  color: var(--black);
  font-weight: var(--bold-700);
}

.right__text p:first-of-type {
  width: fit-content;
  color: var(--black);
  font-weight: var(--medium-500);
  font-family: Arial, Helvetica, sans-serif;
}

.right__text p:last-of-type {
  color: var(--black);
  font-weight: var(--regular-400);
}

.right__img img {
  width: 100%;
  object-fit: cover;
}

/* SMARTPHONES - SHORTER SCREENS (PORTRAIT) */
@media only screen and (max-width: 480px) and (orientation: portrait) {
  .what {
    padding-top: var(--padding-m);
    padding-bottom: var(--padding-m);
  }

  .what__content {
    padding-left: var(--padding-s);
    padding-right: var(--padding-s);
  }

  .what__content h2 {
    font-size: 3.4rem;
    line-height: 3.4rem;
    margin-bottom: 4rem;
  }
  .content__left {
    margin-top: 0;
    display: flex;
    margin-bottom: 5rem;
    height: fit-content;
    flex-direction: column;
  }

  .left__text {
    width: 100%;
    margin: unset;
  }

  .left__text h3 {
    font-size: 2.1rem;
    padding-top: 0.6rem;
    padding-bottom: 1rem;
  }

  .left__text p:last-of-type {
    font-size: 1.7rem;
  }

  .left__text p:first-of-type {
    font-size: 5rem;
    padding-top: 1rem;
    line-height: 5rem;
  }
  

  .left__img {
    height: 20rem;
    margin-top: 2rem;
  }

  .left__img img {
    height: 100%;
  }

  .content__right {
    margin-top: 0;
    display: flex;
    height: fit-content;
    margin-bottom: 5rem;
    flex-direction: column-reverse;
  }

  .content__right:last-of-type {
    margin-bottom: 0;
  }

  .right__text p:first-of-type {
    font-size: 5rem;
    padding-top: 1rem;
    line-height: 5rem;
  }

  .right__text {
    width: 100%;
    margin: unset;
  }

  .right__text h3 {
    font-size: 2.1rem;
    padding-top: 0.6rem;
    padding-bottom: 1rem;
  }

  .right__text p:last-of-type {
    font-size: 1.7rem;
  }

  .right__img {
    height: 20rem;
    margin-top: 2rem;
  }

  .right__img img {
    height: 100%;
  }
}

/* SMARTPHONES - SHORTER SCREENS (LANDSCAPE) */
@media only screen and (min-width: 665px) and (orientation: landscape) {
  .what {
    padding-top: var(--padding-m);
    padding-bottom: var(--padding-m);
  }

  .what__content {
    padding-left: var(--padding-s);
    padding-right: var(--padding-s);
  }

  .what__content h2 {
    font-size: 3.4rem;
    line-height: 2.5rem;
    margin-bottom: 5rem;
  }

  .content__left {
    height: 29rem;
    margin-top: 0;
    margin-bottom: 6rem;
  }

  .left__text h3 {
    font-size: 2.1rem;
  }

  .left__text p:last-of-type {
    font-size: 1.7rem;
  }

  .left__text p:first-of-type {
    font-size: 5rem;
    padding-top: 1rem;
    line-height: 5rem;
  }

  .left__img {
    height: 29rem;
  }

  .left__img img {
    height: 100%;
  }

  .content__right {
    height: 29rem;
    margin-top: 0;
    margin-bottom: 6rem;
  }

  .content__right:last-of-type {
    margin-bottom: 0;
  }

  .right__text p:first-of-type {
    font-size: 5rem;
    padding-top: 1rem;
    line-height: 5rem;
  }

  .right__text h3 {
    font-size: 2.1rem;
  }

  .right__text p:last-of-type {
    font-size: 1.7rem;
  }

  .right__img {
    height: 29rem;
  }

  .right__img img {
    height: 100%;
  }
}

/* SMARTPHONES - TALLER SCREENS (PORTRAIT) */
@media only screen and (min-width: 390px) and (orientation: portrait) {
  .what__content h2 {
    font-size: 3.5rem;
  }
}

/* SMARTPHONES - TALLER SCREENS (LANDSCAPE) */
@media only screen and (min-width: 843px) and (orientation: landscape) {
  .what__content h2 {
    font-size: 3.5rem;
  }
}

/* IPAD MINI (PORTRAIT) */
@media only screen and (min-width: 767px) and (orientation: portrait) {
  .what {
    padding-top: var(--padding-l);
    padding-bottom: var(--padding-l);
  }

  .what__content {
    padding-left: var(--padding-m);
    padding-right: var(--padding-m);
  }

  .what__content h2 {
    font-size: 5rem;
    line-height: 4rem;
    margin-bottom: 5rem;
  }

  .content__left {
    height: 29rem;
    margin-top: 0;
    margin-bottom: 6rem;
  }

  .left__text h3 {
    font-size: 2.2rem;
  }

  .left__text p:last-of-type {
    font-size: 1.7rem;
  }

  .left__text p:first-of-type {
    font-size: 5rem;
    padding-top: 1rem;
    line-height: 5rem;
  }

  .left__img {
    height: 29rem;
  }

  .left__img img {
    height: 100%;
  }

  .content__right {
    margin-top: 0;
    height: 29rem;
    margin-bottom: 6rem;
  }

  .content__right:last-of-type {
    margin-bottom: 0;
  }

  
  .right__text h3 {
    font-size: 2.2rem;
  }
  
  .right__text p:last-of-type {
    font-size: 1.7rem;
  }

  .right__text p:first-of-type {
    font-size: 5rem;
    padding-top: 1rem;
    line-height: 5rem;
  }

  .right__img {
    height: 29rem;
  }

  .right__img img {
    height: 100%;
  }
}

/* IPAD MINI (LANDSCAPE) */
@media only screen and (min-width: 1023px) and (orientation: landscape) {
  .what {
    padding-top: var(--padding-l);
    padding-bottom: var(--padding-l);
  }

  .what__content {
    padding-left: var(--padding-m);
    padding-right: var(--padding-m);
  }

  .what__content h2 {
    font-size: 5rem;
    line-height: 4rem;
    margin-bottom: 5rem;
  }

  .content__left {
    height: 29rem;
    margin-top: 0;
    margin-bottom: 6rem;
  }

  .left__text h3 {
    font-size: 2.2rem;
  }

  .left__text p:last-of-type {
    font-size: 1.7rem;
  }

  .left__img {
    height: 29rem;
  }

  .left__img img {
    height: 100%;
  }

  .content__right {
    margin-top: 0;
    height: 29rem;
    margin-bottom: 6rem;
  }

  .content__right:last-of-type {
    margin-bottom: 0;
  }

  .right__text h3 {
    font-size: 2.2rem;
  }

  .right__text p:last-of-type {
    font-size: 1.7rem;
  }

  .right__img {
    height: 29rem;
  }

  .right__img img {
    height: 100%;
  }
}

/* IPAD AIR (PORTRAIT) */
@media only screen and (min-width: 769px) and (orientation: portrait) {
  /* not needed */
}

/* IPAD AIR (LANDSCAPE) */
@media only screen and (min-width: 1179px) and (orientation: landscape) {
  /* not needed */
}

/* IPAD PRO (PORTRAIT) */
@media only screen and (min-width: 1023px) and (orientation: portrait) {
  /* not needed */
}

/* IPAD PRO and MACBOOK PRO 14" (LANDSCAPE) */
@media only screen and (min-width: 1365px) and (orientation: landscape) {
  .what {
    padding-top: var(--padding-l);
    padding-bottom: var(--padding-l);
  }

  .what__content {
    padding-left: unset;
    padding-right: unset;
    width: var(--content-width);
  }

  .what__content h2 {
    font-size: 5.6rem;
    line-height: 4.4rem;
  }

  .content__left {
    height: 34rem;
    margin-bottom: 6rem;
  }

  .left__text {
    width: 80%;
    margin: auto;
  }

  .left__text h3 {
    font-size: 2.4rem;
    padding-top: 0.6rem;
    padding-bottom: 1rem;
  }

  .left__text p:first-of-type {
    font-size: 6rem;
    padding-top: 1rem;
    line-height: 5rem;
  }

  .left__text p:last-of-type {
    font-size: 1.8rem;
  }

  .left__img {
    height: 34rem;
  }


  .content__right {
    height: 34rem;
    margin-bottom: 6rem;
  }

  .right__text h3 {
    font-size: 2.4rem;
    padding-top: 0.6rem;
    padding-bottom: 1rem;
  }

  .right__text p:first-of-type {
    font-size: 6rem;
    padding-top: 1rem;
    line-height: 5rem;
  }

  .right__text p:last-of-type {
    font-size: 1.8rem;
  }

  .right__img img {
    height: 34rem;
  }
}

/* MONITORS (LANDSCAPE) */
@media only screen and (min-width: 1520px) and (orientation: landscape) {
  /* not needed */
}
