:root {
  --black: #323232;
  --white: #ffffff;
  --orange-dark: #f04b37;
  --orange-light: #f5783b;
  --orange-lighter: #faa43f;
  --gradient-footer: linear-gradient(
    180deg,
    #f04b37 0%,
    #f5783b 70.5%,
    #faa43f 100%
  );
  --gradient-card: linear-gradient(
    0deg,
    rgba(240, 75, 55, 1) 0%,
    rgba(245, 120, 59, 1) 50%,
    rgba(250, 164, 63, 1) 100%
  );

  --light-300: 300;
  --regular-400: 400;
  --medium-500: 500;
  --bold-700: 700;
  --extraBold-800: 800;

  --padding-s: 2rem;
  --padding-m: 3rem;
  --padding-l: 6rem;
  --content-width: 1024px;
}

html {
  width: 100vw;
  height: 100vh;
  cursor: default;
  user-select: none;
  overflow-y: scroll;
  /* color: var(--black); */
  scroll-behavior: smooth;
  background-color: red;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  font-size: 62.5%; /* base font size to 10px, to facilitate using REM unit */
  box-sizing: border-box;
  font-family: 'Barlow', sans-serif;
}

::-webkit-scrollbar {
  display: none;
}
